{% extends "base_generic.html" %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
	<p>Splits Calculator</p>
	<table>
	<tr>
	<td>Number of shipments</td><td>{{ form.Ship }}</td>
	</tr>
	<tr>
	<td>TK</td>
	{% for field in form %}
    {% if field.name|default:""|slice:"2" == "tk" %}
	<td>{{ field }}</td>
	{% endif %}
	{% endfor %}
	</tr>
	<tr>
	<td>Rate</td>
	{% for field in form %}
    {% if field.name|default:""|slice:"4" == "rate" %}
	<td>{{ field }}</td>
	{% endif %}
	{% endfor %}
	</tr>
	<tr>
	<td>Cost</td>
	{% for field in form %}
    {% if field.name|default:""|slice:"4" == "cost" %}
	<td>{{ field }}</td>
	{% endif %}
	{% endfor %}
	</tr>
	</table>
	<input style="margin-top:8px;" type="Submit" value="Submit" name="Sub"/><input type="reset"/>
	<button name='add_tk'>Add TK</button>
	<button name='delete_tk'>Delete TK</button>
	<table>
	<th>TK</th>
	{% for i in a %}
	<tr>
		<td>Ship № {{ forloop.counter }}</td>{% for j in i %}<td>{{ j }}{% endfor %}</td>
	</tr>
	{% endfor %}
	</table>
</form>
{% endblock %}